<div style="padding: 20px; width: 60%; display: flex; justify-content: space-evenly;">
    <select [ngModel]="selectedPrice" (ngModelChange)="sortByPrice($event)" name="sortbyprice">
        <option value="">Sort By Price</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <select [ngModel]="selectedRating" (ngModelChange)="sortByRating($event)" name="sortbyrating">
        <option value="">Sort By rating</option>
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <select [ngModel]="selectedCategory" (ngModelChange)="searchByCategory($event)" name="filter">
        <option value="">Filter By Category</option>
        <option value="men's clothing">Men's clothing</option>
        <option value="women's clothing">Women's clothing</option>
        <option value="jewelery">Jewellery</option>
        <option value="electronics">Electronics</option>
    </select>
    <input type="text" placeholder="search by name" value="selectedName" [(ngModel)]="selectedName" name="searchbyname"/>
    <button (click)="searchByName(selectedName)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
</div>
<div >
    <div *ngIf="loading" style="width: 90%; margin: auto; padding: 10px;"  class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div  *ngFor="let loadingDiv of loadingDivs" class="flex items-center justify-center w-56 h-56 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">loading...</div>
    </div>
</div>

<div *ngIf="!loading" style="width: 90%; margin: auto; padding: 10px;"  class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div *ngFor="let product of products" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between product-cont">
        <a href="#">
            <img style="width: 150px; height: 170px;" class="p-8 rounded-t-lg" [src]="product.image" [alt]="product.title" />
        </a>
        <div class="px-5 pb-5">
            <a href="#">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{[product.title]}}</h5>
            </a>
            <div class="flex items-center mt-2.5 mb-5">
                <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">{{product.rating.rate}}</span>
            </div>
            <div class="flex items-center justify-between">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">₹{{product.price}}</span>
            </div>
            <div class="flex items-center justify-between mt-5">
                <button type="button" (click)="openModal(product)" data-modal-target="product.id" data-modal-toggle="product.id" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">View Details</button>
                <button type="button" (click)="addToCart(product)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add To Cart</button>
            </div>
        </div>
    </div>
</div>

               <!-- The Modal -->
               <div id="myModal" [hidden]="!modalVisible" class="modal" >

                <!-- Modal content -->
                <div style="border-radius: 5px; padding: 10;" class="modal-content">
                  <button  (click)="closeModal()" class="close">Close</button>
                  <img style="width: 150px; height: 170px;" class="p-8 rounded-t-lg" [src]="selectedProduct?.image" [alt]="selectedProduct?.title"/>
                  <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{selectedProduct?.title}}</h5>
              
                  <p>₹{{selectedProduct?.price}}</p>
                  <p>Description: {{selectedProduct?.description}}</p>
                </div>
              
              </div>
<div *ngIf="error" id="toast-danger" class="flex items-center p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert"  style="width: 50%; margin: auto;">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
        </svg>
        <span class="sr-only">Error icon</span>
    </div>

    <div class="ml-3 text-sm font-normal">An error occurred. Please refresh the page</div>
    <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-danger" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
    </button>
</div>
</div>
